# add these entries using crontab -e

@reboot sudo /home/pi/spilly-train/check_internet_access.sh

# every 5 minutes
*/5 * * * * /home/pi/spilly-train/freedns_update.sh

# every morning at 1am
0 1 * * * /home/pi/spilly-train/update_ad_block.sh

# every monday at 2am
0 2 * * 1 /home/pi/spilly-train/update_dns_servers.sh
